//padding sizes
$padding-large: 32px;
$padding: 16px;
$padding-small: 8px;

//colors
$theme-color: #00dbb1;
$background-color: #c3fef8;

//font
$font-size-large: 24px;
$font-size: 12px;
$font-weight-bold: 600;

//border
$border: 1px solid lightgrey;
$border-radius: 4px;